@import "src/layout";
@import "src/menus";

body {
	margin: 0;
	font-family: "roboto", sans-serif;
}

// HEADER //

header {
	display: flex;
	align-items: center;

	a {
		margin: 15px;
		position: absolute;
	}

	img {
		width: 160px;
		margin: auto;
		padding: 20px;
		opacity: 0;
		transform: translateY(-30px);
		animation: apparition 0.7s 0.2s ease-in-out forwards;
	}	
}

@media screen and (min-width: 1200px) {
	header img {
		width: 170px;
		margin: auto;
	}
}

main img {
	width: 100%;
	object-fit: cover;
	max-height: 300px;
	opacity: 0;
	transform: translateY(30px);
	animation: apparition 0.7s 0.2s ease-in-out forwards;
}

// MENUS //

.menus {
	display: flex;
	flex-direction: column;
	background-color: #f6f6f6;
	border-radius: 50px 50px 0 0;
	margin-top: -40px;
	position: relative;

	h1 {
		font-family: "Shrikhand", cursive;
		font-size: 1.8em;
		opacity: 0;
		transform: translateX(30px);
		animation: apparition 0.7s 0.3s ease-in-out forwards;
		}

	.heart {
		display: flex;
		align-items: baseline;
		gap: 32px;
		margin: auto;
		opacity: 0;
		transform: translateX(30px);
		animation: apparition 0.7s 0.3s ease-in-out forwards;
		}

	h2 {
		border-bottom: 3px solid #99E2D0;
		padding-bottom: 4px;
		width: 45px;
		font-size: 1.1em;
		text-transform: uppercase;
		margin-bottom: 0;
		font-weight: 100;
	}

	ul {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 90%;
		gap: 15px;
		margin: auto;
		margin-bottom: 30px;
		padding-bottom: 20px;
		opacity: 0;
		transform: translateY(-30px);
		li {
			background-color: white;
			display: flex;
			align-items: center;
			position: relative;
			overflow: hidden;
			width: 100%;
			border-radius: 20px;
			box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.05);
			height: 65px;
			&:hover b {
				margin-right: 70px;
				transition: all 0.5s;
			}
			&:hover .fa-circle-check {
				transition: all 0.5s;
				right: 0;
			}
		}

		hgroup {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
			hgroup p,
			h3 {
				margin: 0;
				margin-left: 10px;
				padding: 2px;
				font-size: 0.9em;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			h3 {
				font-weight: 500;
			}

			p {
				font-weight: 300;
			}

			b {
				margin: 0 20px 0 auto;
				padding-top: 30px;
				font-weight: 400;
				transition: 0.5s;
			}

			.fa-circle-check {
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				right: -60px;
				color: white;
				background-color: #99E2D0;
				height: 65px;
				width: 60px;
				border-radius: 0 10px 10px 0;
				transition: 0.5s;
			}
		}
	}

	ul:nth-child(2) {
		animation: apparition 0.7s 0.4s ease-in-out forwards;
	}

	ul:nth-child(3) {
		animation: apparition 0.7s 0.8s ease-in-out forwards;
	}

	ul:nth-child(4) {
		animation: apparition 0.7s 1.2s ease-in-out forwards;
	}


	.full {
	height: 24px;
	right: 10px;
    padding-top: 20px;
	margin-left: -64px;
    opacity: 0;
    background: -webkit-linear-gradient(-20deg, #9356DC, #FF79DA);
    transition: all 0.5s;
	-webkit-background-clip: text;
	&:hover {
		opacity: 1;
		color: transparent;
	}
	}

	.fa-regular {
		height: 24px;
		right: 10px;
		padding-top: 20px;
		padding-right: 8px;
		transition: all 0.5s;
		&:hover {
			opacity: 1;
			color: transparent;
		}
	}


@media screen and (min-width: 768px) {
	.menus h1 {
		margin: auto;
		padding-top: 20px;
	}

	.heart {
		margin: auto;
	}

	.full, .fa-regular {
		padding-top: 40px;
	}
}

@media screen and (min-width: 1200px) {
	.menus {
		width: 70%;
		justify-content: center;
		margin: auto;
		margin-top: -40px;
		position: relative;

		h1 {
			padding: 20px;
		}

		ul {
			width: 60%;
			margin: auto;
			margin-bottom: 40px;
			padding-left: 40px;

			.full, .fa-regular {
				padding-top: -20px;
			}
		}
	}
}

.btn {
    display: flex;
    justify-content: center;
    border: 1px solid none;
    color: white;
    padding: 16px;
    border-radius: 50px;
    background: linear-gradient(#FF79DA, #9356DC);
    width: 230px;
    box-shadow: #b2b2b2 0px 5px 10px 0px;
    font-size: 0.9em;
    border: none;
    margin: auto;
    margin-bottom: 40px;
    opacity: 0;
    transition: 0.5s;
    animation: apparition 0.7s 3.4s ease-in-out forwards;
    &:hover {
        opacity: 0.7 !important;
        box-shadow: #828282 0px 8px 14px 0px;
    }
}

footer {
	background-color: #353535;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 180px;
	padding-top: 20px;
	
	ul {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-left: 18px;
		li {
			display: flex;
			.ftr {
				display: flex;
				flex-direction: column;
				width: 100%;
			}
		}
	}

	img {
		display: flex;
		width: 120px;
		margin-left: 20px;
		margin-bottom: 20px;
		filter: invert(100%);
	}

	a {
		color: white;
		padding: 6px;
		i {
			padding-right: 7px;
		}
	}
}

@media screen and (min-width: 768px) {
	footer {
		background-color: #353535;
		display: flex;
		flex-direction: row-reverse;
		justify-content: end;
		height: 100px;
		padding-bottom: 20px;
	
		ul {
			display: flex;
			flex-direction: row;
			align-items: end;
			font-size: 0.9em;
			.ftr {
				display: flex;
				flex-direction: row;
				padding-right: 15px;
			}
		}
	
		img {
			width: 130px;
			margin: 68px 30px 0 30px;
			filter: invert(100%);
		}
	
		a {
			color: white;
			width: max-content;
			i {
				font-size: 0.8em;
				padding-right: 10px;
			}
		}
	}
}

@media screen and (min-width: 1200px) {

	footer {
		img {
				width: 130px;
				margin: 68px 50px 0 70px;
				filter: invert(100%);
			
		}
	}
}
