ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  margin: 0;
  font-family: "roboto", sans-serif;
}

header {
  display: flex;
  align-items: center;
}
header a {
  margin: 15px;
}
header img {
  width: 30%;
  margin-left: 90px;
}

@media screen and (min-width: 1024px) {
  header img {
    width: 15%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  main img {
    width: 100%;
    height: 380px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
h1 {
  font-family: "Shrikhand", cursive;
  margin-left: -10px;
  font-size: 1.9em;
}

.menus {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  border-radius: 50px 50px 0 0;
  margin-top: -40px;
  position: relative;
}
.menus .heart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 0;
}
.menus h2 {
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 4px;
  width: 45px;
  font-weight: 200;
  font-size: 1.1em;
  text-transform: uppercase;
  margin-bottom: 0;
}
.menus ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin-left: 20px;
  margin-bottom: 40px;
}
.menus ul li {
  background-color: white;
  display: flex;
  align-items: center;
  width: 90%;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.05);
  height: 60px;
}
.menus ul li figure p,
.menus ul li h3 {
  margin: 0;
  margin-left: 10px;
  padding: 2px;
  font-size: 0.9em;
}
.menus ul li p {
  font-weight: 300;
}
.menus ul li b {
  margin-left: auto;
  padding-top: 30px;
}
.menus button {
  border: 1px solid none;
  color: white;
  padding: 15px;
  width: 40%;
  border-radius: 50px;
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
  font-size: 1em;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 35px;
}

@media screen and (min-width: 1024px) {
  .menus {
    width: 70%;
    justify-content: center;
    margin: auto;
    margin-top: -40px;
    position: relative;
  }
  .menus h1 {
    padding: 20px;
    margin: auto;
  }
  .menus ul {
    width: 60%;
    margin: auto;
    margin-bottom: 40px;
    padding-left: 40px;
  }
  .menus button {
    padding: 15px;
    width: 20%;
  }
}
footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 180px;
  padding-top: 20px;
}
footer ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 18px;
}
footer li {
  display: flex;
}
footer figure {
  display: flex;
  flex-direction: column;
  width: 100%;
}
footer img {
  display: flex;
  width: 30%;
  margin-left: 20px;
  margin-bottom: 20px;
  filter: invert(100%);
}
footer a {
  color: white;
  padding: 6px;
}
footer a i {
  padding-right: 7px;
}

@media screen and (min-width: 1024px) {
  footer {
    background-color: #353535;
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    height: 100px;
    padding-bottom: 20px;
  }
  footer ul {
    display: flex;
    flex-direction: row;
    align-items: end;
  }
  footer ul figure {
    display: flex;
    flex-direction: row;
    padding-right: 30px;
  }
  footer img {
    width: 10%;
    margin: 68px 50px 0 70px;
    filter: invert(100%);
  }
  footer a {
    color: white;
    width: -moz-max-content;
    width: max-content;
  }
  footer a i {
    font-size: 0.8em;
    padding-right: 10px;
  }
}/*# sourceMappingURL=menus.css.map */