@import "src/layout";
@import "src/menus";

body {
	margin: 0;
	font-family: "roboto", sans-serif;
}

// HEADER //

header {
	display: flex;
	align-items: center;

	a {
		margin: 15px;
		position: absolute;
	}

	img {
		width: 160px;
		margin: auto;
		padding: 20px;
	}	
}

@media screen and (min-width: 1200px) {
	header img {
		width: 170px;
		margin: auto;
	}
}

main img {
	width: 100%;
	object-fit: cover;
	max-height: 300px;
}

// MENUS //

.menus {
	display: flex;
	flex-direction: column;
	background-color: #f6f6f6;
	border-radius: 50px 50px 0 0;
	margin-top: -40px;
	position: relative;

	h1 {
		font-family: "Shrikhand", cursive;
		font-size: 1.6em;
		}

	.heart {
		display: flex;
		justify-content: space-around;
		align-items: center;
		}

	h2 {
		border-bottom: 3px solid #99E2D0;
		padding-bottom: 4px;
		width: 45px;
		font-size: 1.1em;
		text-transform: uppercase;
		margin-bottom: 0;
		font-weight: 100;
	}

	ul {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 90%;
		gap: 15px;
		margin: auto;
		margin-bottom: 30px;
		padding-bottom: 20px;
		li {
			background-color: white;
			display: flex;
			align-items: center;
			width: 100%;
			border-radius: 20px;
			box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.05);
			height: 65px;
			hgroup p,
			h3 {
				margin: 0;
				margin-left: 10px;
				padding: 2px;
				font-size: 0.9em;
			}

			h3 {
				font-weight: 500;
			}

			p {
				font-weight: 300;
			}

			b {
				margin-left: auto;
				padding-top: 30px;
				font-weight: 400;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.menus h1 {
		margin: auto;
		padding-top: 20px;
	}
}

@media screen and (min-width: 1200px) {
	.menus {
		width: 70%;
		justify-content: center;
		margin: auto;
		margin-top: -40px;
		position: relative;

		h1 {
			padding: 20px;
			margin: auto;
		}

		ul {
			width: 60%;
			margin: auto;
			margin-bottom: 40px;
			padding-left: 40px;
		}
	}
}

footer {
	background-color: #353535;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 180px;
	padding-top: 20px;
	
	ul {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-left: 18px;
		li {
			display: flex;
			.ftr {
				display: flex;
				flex-direction: column;
				width: 100%;
			}
		}
	}

	img {
		display: flex;
		width: 120px;
		margin-left: 20px;
		margin-bottom: 20px;
		filter: invert(100%);
	}

	a {
		color: white;
		padding: 6px;
		i {
			padding-right: 7px;
		}
	}
}

@media screen and (min-width: 768px) {
	footer {
		background-color: #353535;
		display: flex;
		flex-direction: row-reverse;
		justify-content: end;
		height: 100px;
		padding-bottom: 20px;
	
		ul {
			display: flex;
			flex-direction: row;
			align-items: end;
			font-size: 0.9em;
			.ftr {
				display: flex;
				flex-direction: row;
				padding-right: 15px;
			}
		}
	
		img {
			width: 130px;
			margin: 68px 30px 0 30px;
			filter: invert(100%);
		}
	
		a {
			color: white;
			width: max-content;
			i {
				font-size: 0.8em;
				padding-right: 10px;
			}
		}
	}
}

@media screen and (min-width: 1200px) {

	footer {
		img {
				width: 130px;
				margin: 68px 50px 0 70px;
				filter: invert(100%);
			
		}
	}
}