$white: #fff;
$black: #000;

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

a {
    text-decoration: none;
    color: $black;
}

button {
    border: 1px solid none;
    color: white;
    padding: 16px;
    border-radius: 50px;
    background: linear-gradient(#FF79DA, #9356DC);
    width: 230px;
    box-shadow: #b2b2b2 0px 5px 10px 0px;
    font-size: 0.9em;
    border: none;
    margin: auto;
    margin-bottom: 40px;
    transition: 400ms;
    &:hover {
        opacity: 70%;
        box-shadow: #828282 0px 8px 14px 0px;
    }
}


